
.rm-audio-player-provider #rm-audio-player{
    --rm-audio-player-interface-container: #19191E;
    --rm-audio-player-track-current-time: #FFF;
    
    --rm-audio-player-progress-bar-background: #333333;
    --rm-audio-player-progress-bar: #FFF;
    .kuNzeN{
        border-radius: 4px;
        overflow: hidden;
    }
}
